<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/welcome" method="GET">

    </form>
</div>
</main>

<%- include ('../partials/footer') %>